// Typography
$font-family-sans-serif: Shabnam, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.9;
$font-weight-base: 300;
$headings-font-weight: 700;

// Colors
$body-color: #534b68;
$link-color: #777;
$border-color: #eee;

$white: #fff;
$red: #f04d5e;
$indigo: #6574cd;
$orange: #f6993f;
$yellow: #ffb822;
$green: #34bfa3;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$pink: #f21692;
$primary: #40b984;
$secondary: #30475e;

$theme-colors: (
  "grey": #757575,
  "white": $white,
);

$component-active-bg: darken($secondary, 25%);

$badge-border-radius: .25rem;

$input-border-color:#ebedf2;
$border-radius: .5rem;
$breadcrumb-divider-color: #f04d5e;

$custom-control-indicator-size: 1.2rem;
$custom-checkbox-indicator-border-radius: .25rem;
$custom-control-indicator-size: 1rem;


$spacer: 1rem;

$spacers: (
	6: ($spacer * 6),
	7: ($spacer * 7),
	8: ($spacer * 8),
	9: ($spacer * 9),
	10: ($spacer * 10),
	11: ($spacer * 11),
	12: ($spacer * 12),
	13: ($spacer * 13),
	14: ($spacer * 14),
	15: ($spacer * 15),
);

//////////// FONTS ////////////////

$la-font-path: "/fonts" !default;
$la-css-prefix: fa !default;
$la-font-name: "LineAwesome" !default;
$la-version: "1.1.";
