html {font-size: 14px}

@for $i from 0 through 9 {
	.font_1#{$i} {
		font-size: #{(1 + ($i / 10))}rem !important;
	}
}

a:focus, a:hover {
	text-decoration: none;
}

.text-in-one-line {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.top-0 {top: 0}
.left-0 {left: 0}
.right-0 {right: 0}
.bottom-0 {bottom: 0}

.btn-wide {
	min-width: 9.6875rem;
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.height#{$infix}-100vh {
			height: 100vh !important;
		}
	}
}
