.fade-enter-active, .fade-leave-active {
	transition: opacity .2s ease;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

@for $i from 0 through 9 {
	.font_1#{$i} {
		font-size: #{(1 + ($i / 10))}rem !important;
	}
}

a:focus, a:hover {
	text-decoration: none;
}

.text-in-one-line {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.height#{$infix}-100vh {
			height: 100vh !important;
		}
	}
}
