@font-face {
  font-family: firansans;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/firansans_Bold.eot');
  src: url('/fonts/firansans_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/fonts/firansans_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/firansans_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/firansans_Bold.ttf') format('truetype');
}
@font-face {
  font-family: firansans;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/firansans_Light.eot');
  src: url('/fonts/firansans_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/fonts/firansans_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/firansans_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/firansans_Light.ttf') format('truetype');
}
@font-face {
  font-family: firansans;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/firansans.eot');
  src: url('/fonts/firansans.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/fonts/firansans.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/firansans.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/firansans.ttf') format('truetype');
}
